section{padding: 40px 0px;}
p{font-size: 14px;color: #000;}
.navabr-dark{background-color: #f79a2f;}
.navabr-dark .nav-link{color: #000;}
.navabr-dark .nav-link:hover{color: #fff;}
.main-hd{color: #f76c2f;}
.underline{background-color: #f76c2f;height: 3px;width: 100px;margin: 10px 0;}
.main-context{width: 800px;margin: auto;}
.bg-cus-lg{background-color: #d3caca96;}

/* Navabr */
header{background-color: #Ffff;position: fixed;width: 100%;box-shadow: 1px 1px 1px #000;z-index: 999;}
.logo{text-decoration: none;font-size: 25px;margin: 0;padding: 0;color: #FFB000;}
.logo h1{line-height: 0;margin: 10px;padding-bottom: 10px;}
.menus ul{margin: 0;display: flex;}
.menus li{list-style: none;}
.menus li .menu-links{margin-left: 30px;text-decoration: none;color: #FFB000;display: inline-block;position: relative;}
.menus .menu-links::after{position: absolute;content: '';margin: auto;width: 0;height: 2px;background-color: #f76c2f;bottom: 0;left: 0;right: 0;}
.menus .menu-links:hover::after{width: 100%;transition: .3s ease-in-out;}

/* Navabr */

/* About */
.abt-sec{padding-bottom: 0;} 
.bread-lnk{color: #000 !important;text-decoration: none;}
.active{color: #f79a2f !important;}
/* About */

/* Contact */

.btn-frm{background-color: #f79a2f;border: none;padding: 10px 0;color: #fff;font-weight: 600;}

/* Contact */

/* Footer */
.footer-sec{background-color: #4b48da;text-transform: none;}
.footer-sec h2{color: #fff;}
.ftr-cnt p{color: #fff;}
.ftr-lnks{color: #fff;text-decoration: none;}
.ftr-lnks:hover{color: #000;}

.breadcrumb{padding: 50px 0px 0px 0px !important;}

.sl-b{display: block;}
.sl-n{display: none;}

/* Media Query */

@media (max-width:768px) {
    .main-context{width: 100%;}
    .logo{font-size: 18px;}
    .menus li .menu-links{margin-left: 10px;}
    .sl-b{display: none;}
.sl-n{display: block;}

}

/* Media Query */